{% extends "partials/base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
    <div style="height: 90vh; font-family: monospace ;padding: 1rem;">
        <div style="margin: 0 auto; margin-top: 15vh; box-shadow: 5px 5px 10px 5px #888888;border-radius: 1rem;" class="form">
            <form method="POST" class="form-group">
                <div class="modal-header">
                    <h1>Login</h1>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% if message %}
                        <p style="color: orangered"> {{ message }}</p>
                    {% endif %}
                    {% bootstrap_form form %}
                    <p style="font-size: 14px">Forgot Password : <a href="{% url 'password_reset' %}">Reset</a></p>
                    <p style="font-size: 14px">Don't have a account: <a href="{% url 'register' %}">Sign-up</a></p>
                </div>

                <div class="modal-footer">
                    {% buttons %}
                        <button type="reset" class="btn btn-primary pull-right">Reset</button>
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    {% endbuttons %}
                </div>

            </form>
        </div>
    </div>

{% endblock %}