{% extends "partials/base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
    <div style="margin:10rem">
        <h1>Login on Sports Selection Platform</h1>

        <form method="POST" class="form-group">
            {% csrf_token %}
            {% if message %}
                <p style="color: orangered"> {{ message }}</p>
            {% endif %}
            {% bootstrap_form form %}
            <p>Forgot Password: <a href="{% url 'password_reset' %}">Reset</a></p>
            <p>Do not have a account ?: <a href="{% url 'register' %}"> Signup</a></p>

            {% buttons %}
                <button type="reset" class="btn btn-primary">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}