{% extends "partials/base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
    <div style="margin:10rem">
        <h1>Password Reset Confirm on Sports Selection Platform</h1>

        <form method="POST" class="form-group">
            {% csrf_token %}
            {% if message %}
                <p style="color: orangered"> {{ message }}</p>
            {% endif %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Reset</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}