{% extends "partials/base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
    <div style="height: 90vh; font-family: monospace ;padding: 1rem;">
        <div style="margin: 0 auto; width: 450px; margin-top: 15vh; box-shadow: 5px 5px 10px 5px #888888;border-radius: 1rem">
            <form method="POST" class="form-group">
                <div class="modal-header">
                    <h1>Update Password Confirmation</h1>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% if message %}
                        <p style="color: orangered"> {{ message }}</p>
                    {% endif %}
                    {% bootstrap_form form %}
                </div>
                <div class="modal-footer">
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Reset</button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}