{% extends "partials/base.html" %}

{% block content %}
    <div style="margin: 2rem; font-family: monospace">

        <h2>ATHLETES TO BE SUPPORTED DISCIPLINE-WISE FOR UPCOMING OLYMPICS</h2>
        <table class="table table-hover table-dark" style="font-size: 1rem; border-radius: 1rem">
            <thead>
            <tr>
                <th width="78">
                    <p><strong>S No</strong></p>
                </th>
                <th width="192">
                    <p><strong>Discipline</strong></p>
                </th>
                <th width="132">
                    <p><strong>Total No. of Sportspersons</strong></p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="78">
                    <p>1</p>
                </td>
                <td width="192">
                    <p>Archery</p>
                </td>
                <td width="132">
                    <p>34</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>2</p>
                </td>
                <td width="192">
                    <p>Athletics</p>
                </td>
                <td width="132">
                    <p>71</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>3</p>
                </td>
                <td width="192">
                    <p>Badminton</p>
                </td>
                <td width="132">
                    <p>19</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>4</p>
                </td>
                <td width="192">
                    <p>Boxing</p>
                </td>
                <td width="132">
                    <p>25</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>5</p>
                </td>
                <td width="192">
                    <p>Chess</p>
                </td>
                <td width="132">
                    <p>8</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>6</p>
                </td>
                <td width="192">
                    <p>Cycling</p>
                </td>
                <td width="132">
                    <p>5</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>7</p>
                </td>
                <td width="192">
                    <p>Equestrian</p>
                </td>
                <td width="132">
                    <p>1</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>8</p>
                </td>
                <td width="192">
                    <p>Fencing</p>
                </td>
                <td width="132">
                    <p>1</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>9</p>
                </td>
                <td width="192">
                    <p>Golf</p>
                </td>
                <td width="132">
                    <p>1</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>10</p>
                </td>
                <td width="192">
                    <p>Gymnastic</p>
                </td>
                <td width="132">
                    <p>10</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>11</p>
                </td>
                <td width="192">
                    <p>Hockey</p>
                </td>
                <td width="132">
                    <p>18</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>12</p>
                </td>
                <td width="192">
                    <p>Judo</p>
                </td>
                <td width="132">
                    <p>4</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>13</p>
                </td>
                <td width="192">
                    <p>Sailing</p>
                </td>
                <td width="132">
                    <p>5</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>14</p>
                </td>
                <td width="192">
                    <p>Shooting</p>
                </td>
                <td width="132">
                    <p>65</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>15</p>
                </td>
                <td width="192">
                    <p>Squash</p>
                </td>
                <td width="132">
                    <p>5</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>16</p>
                </td>
                <td width="192">
                    <p>Swimming</p>
                </td>
                <td width="132">
                    <p>5</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>17</p>
                </td>
                <td width="192">
                    <p>Table Tennis</p>
                </td>
                <td width="132">
                    <p>7</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>18</p>
                </td>
                <td width="192">
                    <p>Tennis</p>
                </td>
                <td width="132">
                    <p>19</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>19</p>
                </td>
                <td width="192">
                    <p>Weightlifting</p>
                </td>
                <td width="132">
                    <p>15</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>20</p>
                </td>
                <td width="192">
                    <p>Wrestling</p>
                </td>
                <td width="132">
                    <p>24</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>21</p>
                </td>
                <td width="192">
                    <p>Wushu</p>
                </td>
                <td width="132">
                    <p>9</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>22</p>
                </td>
                <td width="192">
                    <p>Para-Sports</p>
                </td>
                <td width="132">
                    <p>30</p>
                </td>
            </tr>
            <tr>
                <td width="78">
                    <p>23</p>
                </td>
                <td width="192">
                    <p>Winter Games</p>
                </td>
                <td width="132">
                    <p>8</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="270">
                    <p><strong>TOTAL</strong></p>
                </td>
                <td width="132">
                    <p><strong>389</strong></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}