{% extends "partials/base.html" %}


{% block content %}
    <div class="py-5" style="font-family: monospace; font-size: 12px">
        <div class="container">
            <div style="text-align: center">
                <h4 style="font-family: monospace; font-size: 2rem"><strong>LIST OF RECOGNISED NATIONAL SPORTS
                    FEDERATIONS FOR THE YEAR 2020 BY GOVERNMENT OF INDIA</strong></h4>
            </div>
            <br>
            <div class="row hidden-md-up" style="text-align: center">

                {% for sport in sports %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card" style="width: 18rem;margin: .5rem auto; border-radius: 1rem; background-color: black">
                            <div class="card-header" style="text-align: center; font-size: 1rem; color: white">
                                {{ sport.sport }}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h4>No Trials Present Try again Later.</h4>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}