{% extends "partials/bas1.html" %}

{% block content %}
    <div class="py-5" style="font-family: monospace; font-size: 12px; margin-bottom: 100px">
        <div class="container" style="text-align: center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5>{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div style="text-align: center">
            <h4 style="font-family: monospace; font-size: 2rem"><strong>Sports Trials</strong></h4>
        </div>
        <div style="text-align: center">
            <h5 style="font-family: monospace; font-size: 1.2rem"><strong>Filter Trials</strong></h5>
        </div>
        <form method="get" action="">
            <div class="row" style="margin: 1rem; font-size: 1rem">
                <div class="col-md-1">

                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label for="state">State</label>
                    <select id="state" class="form-control" name="state">
                        <option disabled value selected>---select a state---</option>
                        {% for state in states %}
                            <option value="{{ state }}">{{ state }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label for="sport">Sport</label>
                    <select id="sport" class="form-control" name="sport">
                        <option disabled value selected>---select a sport---</option>
                        {% for sport in sports %}
                            <option value="{{ sport }}">{{ sport }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="margin-top: 25px " class="col-md-2 col-sm-3">
                    <button type="submit" class="btn btn-outline-dark form-control">Search</button>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </form>
        <div class="container">

            <br>
            <div class="row hidden-md-up" style="text-align: center">
                {% for trial in trials %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card" style="width: 18rem; height: 350px; margin: .5rem auto">
                            <div class="card-header" style="text-align: center; font-size: 2rem">
                                {{ trial.title }}
                            </div>
                            <div class="card-body" style="text-align: left;">
                                <p class="card-text">
                                <ul style="font-size: 1rem">
                                    <li>Date : {{ trial.date }}</li>
                                    <li>Time : {{ trial.time }}</li>
                                    <li>Sport : {{ trial.sport }}</li>
                                    <li>State : {{ trial.state }}</li>
                                </ul>
                                </p>
                                <div style="text-align: right">
                                    <a href="{% url "home:trial" trial.id %}">
                                        <button type="button" class="btn btn-outline-dark">Apply</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div style="text-align: center">
                        <h4 style="text-align: center">No Trials Present Try again Later.</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}