{% extends "partials/base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
    <div style="font-family: monospace ;padding: 1rem;">
        <div style="margin: 0 auto; width: 450px; margin-top: 10vh;margin-bottom: 80px; box-shadow: 5px 5px 10px 5px #888888;border-radius: 1rem" class="form">
            <form class="form-group">
                <div class="modal-header">
                    <h1>Trial Info</h1>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" value="{{ trial.title }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea style="height: 110px; color: #0b1526" disabled class="form-control" >{{ trial.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Venue</label>
                        <input type="text" value="{{ trial.venue }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" value="{{ trial.date }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>time</label>
                        <input type="text" value="{{ trial.time }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>Number of Selection To Be Made</label>
                        <input type="text" value="{{ trial.no_of_selections }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>Age Group</label>
                        <input type="text" value="{{ trial.age_group }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>Sport </label>
                        <input type="text" value="{{ trial.sport }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" value="{{ trial.state }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>Minimum Height (in cm)</label>
                        <input type="text" value="{{ trial.min_height }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>Maximum Height (in cm)</label>
                        <input type="text" value="{{ trial.max_height }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>Minimum Weight (in kg)</label>
                        <input type="text" value="{{ trial.min_weight }}" disabled class="form-control" style="color: black">
                    </div>
                    <div class="form-group">
                        <label>Maximum Weight (in kg)</label>
                        <input type="text" value="{{ trial.max_weight }}" disabled class="form-control" style="color: black">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                {% if applied %}
                    <h3>You have already applied for this trial</h3>
                {% else %}
                    <a href="{% url 'home:apply_to_trial' trial.id %}">
                        <button class="btn-primary btn">Apply</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}