{% extends "partials/base.html" %}

{% block content %}
    <div>
        <h1>
            {{ trial.title }}
        </h1>
        <h2>
            {{ trial.description }}
        </h2>
        <h2>
            {{ trial.venue }}
        </h2>
        <h2>
            {{ trial.age_group }}
        </h2>
        <h2>
            {{ trial.sport }}
        </h2>
        <h2>{{ trial.state }}</h2>
        <h3>{{ trial.date }} {{ trial.time }}</h3>
        <h4>Min height : {{ trial.min_height }}</h4>
        <h4>Max height : {{ trial.max_height }}</h4>
        <h4>Min weight : {{ trial.min_weight }}</h4>
        <h4>Max weight : {{ trial.max_weight }}</h4>
    </div>
    {% if applied %}
        <h3>You have applied for this trial</h3>
    {% else %}
        <a href="{% url 'home:apply_to_trial' trial.id %}">
            <button class="btn-primary btn">Apply</button>
        </a>
    {% endif %}
{% endblock %}