{% extends "partials/bas1.html" %}

{% block css %}
    <style>
        body {
        {#    font-family: tahoma;#}
        {#    height: 100vh;#}
            background-image: url(https://picsum.photos/g/3000/2000);
        {#    background-size: cover;#}
        {#    background-position: center;#}
        {#    display: flex;#}
        {#    align-items: center;#}
        }

        .our-team {
            padding: 30px 0 40px;
            margin-bottom: 30px;
            background-color: #f7f5ec;
            text-align: center;
            overflow: hidden;
            position: relative;
        }

        .our-team .picture {
            display: inline-block;
            height: 130px;
            width: 130px;
            margin-bottom: 50px;
            z-index: 1;
            position: relative;
        }

        .our-team .picture::before {
            content: "";
            width: 100%;
            height: 0;
            border-radius: 50%;
            background-color: #1369ce;
            position: absolute;
            bottom: 135%;
            right: 0;
            left: 0;
            opacity: 0.9;
            transform: scale(3);
            transition: all 0.3s linear 0s;
        }

        .our-team:hover .picture::before {
            height: 100%;
        }

        .our-team .picture::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #1369ce;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .our-team .picture img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            transform: scale(1);
            transition: all 0.9s ease 0s;
        }

        .our-team:hover .picture img {
            box-shadow: 0 0 0 14px #f7f5ec;
            transform: scale(0.7);
        }

        .our-team .title {
            display: block;
            font-size: 15px;
            color: #4e5052;
            text-transform: capitalize;
        }

        .our-team .social {
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: #1369ce;
            position: absolute;
            bottom: -100px;
            left: 0;
            transition: all 0.5s ease 0s;
        }

        .our-team:hover .social {
            bottom: 0;
        }

        .our-team .social li {
            display: inline-block;
        }

        .our-team .social li a {
            display: block;
            padding: 10px;
            font-size: 17px;
            color: white;
            transition: all 0.3s ease 0s;
            text-decoration: none;
        }

        .our-team .social li a:hover {
            color: #1369ce;
            background-color: #f7f5ec;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="py-5" style="font-family: monospace; font-size: 12px; margin-bottom: 100px">
        <div class="container" style="text-align: center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5>{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="container">
            <div style="text-align: center">
                <h4 style="font-family: monospace; font-size: 2rem"><strong>Users</strong></h4>
            </div>
            <div class="row">
                {% for user in users %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="our-team">
                            {% if user.profilepicture.image.url %}
                                <div class="picture">
                                    <img class="img-fluid" src="{{ user.profilepicture.image.url }}"
                                         style="width: 130px; height: 130px">
                                </div>
                            {% else %}
                                 <div class="picture">
                                    <img class="img-fluid" src="https://storage.googleapis.com/mrigankbucket/default.png"
                                         style="width: 130px; height: 130px">
                                </div>
                            {% endif %}
                            <div class="team-content">
                                <h5 class="name">{{ user.first_name }} {{ user.last_name }}</h5>
                                <h4 class="title">{{ user.sport }}</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook"
                                       aria-hidden="true"></a></li>
                                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter"
                                       aria-hidden="true"></a></li>
                                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus"
                                       aria-hidden="true"></a></li>
                                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin"
                                       aria-hidden="true"></a></li>
                            </ul>
                        </div>
                    </div>
                {% empty %}
                    </div>
                    <div style="text-align: center">
                        <h4>No Trials Present Try again Later.</h4>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}