Django
django-appconf==1.0.4
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==2.0.1
django-crispy-forms==1.9.2
django-extensions==3.0.4
django-filter==2.3.0
django-select2==7.4.2
django-storages==1.9.1
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
multidict==4.7.6
mysql-connector-python==8.0.20
mysqlclient==2.0.1
navigator-updater==0.2.1
pickleshare==0.7.5
redis==3.5.3
requests==2.24.0
urllib3==1.25.9
virtualenv==20.0.27
