Django
django-appconf
django-bootstrap-datepicker-plus
django-bootstrap4
django-crispy-forms
django-extensions
django-filter
django-select2
django-storages
django-widget-tweaks
djangorestframework
mysql-connector-python
mysqlclient
requests
