{% extends "partials/base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{% block content %}
    <div style="font-family: monospace; padding: 1rem">
        <div style="margin: 0 auto; width: 500px; margin-top: 10vh;margin-bottom: 1rem; padding: .5rem;  box-shadow: 5px 5px 10px 5px #888888;border-radius: 1rem" class="form">
            <form method="POST" class="form-group">
                <div class="modal-header">
                    <h1>{{ user.first_name }} {{ user.last_name }} Add Achievement</h1>
                </div>
                <div class="modal-body">
                    {{ form.media }}
                    {% csrf_token %}
                    {% if message %}
                        <p style="color: orangered"> {{ message }}</p>
                    {% endif %}
                    {% bootstrap_form form %}
                </div>
                <div class="modal-footer">
                    {% buttons %}
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}