{% extends "partials/base.html" %}

{% block content %}
    <div>
        <div>
            <form action="" method="post" enctype="multipart/form-data" class="form">
                <div>
                    <h2>{{ user.first_name }} {{ user.lastname }} Upload Photo</h2>
                </div>
                {% csrf_token %}
                <input type="number" value="{{ user.id }}" hidden name="_id">
                <input type="file" name="image" accept="image/x-png,image/gif,image/jpeg" required/>
                <button type="button">Cancel</button>
                <button type="reset">Reset</button>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}