{% extends "partials/base.html" %}

{% block content %}
    <div style="width: 100vw;height: 100vh ">
        <div class="card" style="width: 20rem; margin: 100px auto ">
            <img class="card-img-top" src="{{ image_url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ first_name }} {{ last_name }}</h5>
                <p class="card-text">{{ email }}</p>
                <p class="card-text">Age : {{ age }}</p>
                <p class="card-text">Sport : {{ sport }}</p>
                <p class="card-text">State : {{ state }}</p>
                <p class="card-text">Gender : {{ gender }}</p>
            </div>
            <div style="text-align: center; margin: 10px">
                {% if user.id == id %}
                    <a href="{% url 'upload_photo' id %}">
                        <button class="btn btn-primary">Update Image</button>
                    </a>
                {% endif %}
            </div>
            <div style="text-align: center; margin: 10px">
                {% if user.id == id %}
                    <a>
                        <button class="btn btn-primary">Update Details</button>
                    </a>
                {% endif %}
            </div>
            <div style="text-align: center; margin: 10px">
                {% if user.id == id %}
                    <a href="{% url 'logout' %}">
                        <button class="btn btn-primary">Logout</button>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}