{% extends "partials/base.html" %}

{% block content %}
    <div style="width: 100vw;height: 100vh ">
        <div class="card" style="width: 20rem; margin: 100px auto ">
            <img class="card-img-top" src="{{ image_url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ first_name }} {{ last_name }}</h5>
                <p class="card-text">{{ email }}</p>
                <p class="card-text">Age : {{ age }}</p>
                <p class="card-text">Sport : {{ sport }}</p>
                <p class="card-text">State : {{ state }}</p>
                <p class="card-text">Gender : {{ gender }}</p>
            </div>
            <div style="text-align: center; margin: 10px">
                {% if user.id == id %}
                    <a href="{% url 'upload_photo' id %}">
                        <button class="btn btn-primary">Update Image</button>
                    </a>
                {% endif %}
            </div>
            <div style="text-align: center; margin: 10px">
                {% if user.id == id %}
                    <a>
                        <button class="btn btn-primary">Update Details</button>
                    </a>
                {% endif %}
            </div>
            <div style="text-align: center; margin: 10px">
                {% if user.id == id %}
                    <a href="{% url 'logout' %}">
                        <button class="btn btn-primary">Logout</button>
                    </a>
                {% endif %}
            </div>
            <div style="text-align: center; margin: 10px">
                {% if user.id == id %}
                    <a href="{% url 'add_achievement' user.id %}">
                        <button class="btn btn-primary">Add Achievement</button>
                    </a>
                {% endif %}
            </div>
            <div style="text-align: center; margin: 10px">
                {% if user.id == id %}
                    <a href="{% url 'add_certificate' user.id %}">
                        <button class="btn btn-primary">Add Certificate</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if achievements %}
        <div>
            Details of sports achievements during the previous years: -
        </div>
        {% for acievement in achievements %}
            <div>
                <h1>
                    {{ acievement.date }}
                </h1>
                <h2>
                    {{ acievement.Event }}
                </h2>
                <h3>
                    {{ acievement.Venue }}
                </h3>
                <h4>
                    {{ acievement.Name_of_Tournament }}
                </h4>
                <h5>
                    {{ acievement.Medal_won }}
                </h5>
            </div>
        {% endfor %}
    {% else %}
        <div>
            No Acheivements listed by you.
        </div>
    {% endif %}

    <div>
        {% if noshow %}
        {% else %}
            {% if trials_applied_to %}
                {% for trial in trials_applied_to %}
                    <div class="card">
                        <h1>{{ trial.trial.title }}</h1>
                        <h3>Applied At {{ trial.date }}</h3>
                        <a href="{% url 'trial_application_info' trial.trial.id %}">
                            <button class=" btn-primary btn">
                        Details
                        </button>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                Not Applied to Any Trials.
            {% endif %}
        {% endif %}
    </div>
{% endblock %}